@font-face {
    font-family: "Helvetica Neue";
    src: URL("../fonts/HelveticaNeue-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica Neue";
    src: URL("../fonts/HelveticaNeue-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
