/* #region backbone */
body {
    position: relative;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 400;
    color: black;
}
/* #endregion */

/* #region base */
.container {
    margin: 0 auto;
    max-width: 1218px;
    padding: 0 15px;
}

.button {
    font-weight: 400;
    color: #242527;
    border-radius: 32px;
    border-width: 1px;
    background-color: transparent;
    transition: all 0.4s ease-in-out;
}

.button:hover {
    background-color: #406af6;
    font-weight: 500;
    letter-spacing: -0.01em;
    color: #ffffff;
}
/* #endregion */

/* #region nav */
.nav {
    z-index: 50;
    position: fixed;
    width: 100%;
    padding: 18px 0;
}

.nav .container {
    max-width: 1320px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__logo {
    display: flex;
    align-items: center;
    gap: 8px;

    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.03em;
    color: #242527;
}

.nav__menu {
    display: flex;
    gap: 40px;

    font-size: 18px;
    color: #242527;
}

.nav__menu-item {
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.nav__menu-item:hover {
    transform: scale(1.05);
    text-decoration-line: underline;
    color: #406af6;
}

.nav__sign {
    display: flex;
    gap: 20px;
}

.nav__sign-item {
    width: 106px;
    height: 45px;
    font-size: 18px;
}

/* #endregion */

/* #region header*/
.header .container {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.header__greet {
    max-width: 399px;
}

.header__greet-title {
    margin-bottom: 24px;

    font-weight: 500;
    font-size: 55px;
    line-height: 67px;
    letter-spacing: -0.02em;
    color: #242527;
}

.header__greet-text {
    font-size: 18px;
    line-height: 25px;
    color: #79797c;
}

.header__email-wrap {
    max-width: 592px;
    max-height: 475px;
    background: #f7f7f8;
}

.header__email {
    max-width: 527px;
    padding: 115px 33px;
    text-align: center;
}

.header__email-info:first-child {
    font-weight: 500;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: #242527;
}

.header__email-info:first-child a {
    color: #406af6;
}

.header__email-info:nth-child(2) {
    font-size: 14px;
    line-height: 150%;
    color: #79797c;
    max-width: 361px;
    margin: 12px auto 40px;
}

.header__email-info:last-child {
    font-size: 12px;
    line-height: 150%;
    color: #98989b;
}

.header__email-but {
    width: 187px;
    height: 54px;
    margin-bottom: 16px;
}
/* #endregion */

/* #region */
/* #endregion */

/* #region */
/* #endregion */

/* #region */
/* #endregion */

/* #region */
/* #endregion */
@media (max-width: 1130px) {
    .nav__menu {
        display: none;
    }
    .nav__sign {
        display: none;
    }
}

@media (max-width: 1024px) {
    .header {
        padding-top: 50px;
    }
    .header .container {
        justify-content: center;
    }
    .header__greet {
        text-align: center;
    }
}
